.c1 {
    background-color: #4d004d;
}
.c2 {
    background-color: #66004d;
}
.c3 {
    background-color: #b30059;
}
.c4 {
    background-color: #cc0066;
}
.c5 {
    background-color: #ff6699;
}
.c6 {
    background-color: #ffb3cb;
}