div {
    width: 75px;
    height: 74px;
    background-color: darkred;
    display: inline-block;
    border-radius: 100%;
    border: 2px groove black;

}
div:hover {
    background-color: currentColor;
    border: 2px dashed lightgreen;
    cursor: pointer;
}
div:active {
    background-color: darkblue;
    border: none;
}
