
ul {
    list-style-type: none;
    display: block;
/*    box-sizing: border-box;*/
}
li {
    padding: 5px;
    border: 3px solid gray;
    border-radius: 50px;
    float: right;
    /* display: inline-block; */
    margin: 5px;
/*    box-sizing: border-box;*/
}

a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid rgb(98, 202, 50);
    border-radius: 50px;
    padding: 10px;
/*    box-sizing: border-box;*/
}

a:hover {
    background-color: darkgray;
    border: 2px dashed white;
    color: floralwhite;
}

li:hover {
    border: 3px solid darkred;
}


