nav {
    width: 20%;
}
main {
    width: 80%;
    text-align: justify;
}
ul {
    flex-flow: column nowrap;
/*  possible to format it like the sample below*/
/*
    flex-flow: row wrap;
    text-align: center;
    justify-content: flex-start;
*/
}